body{
 background-color: rgb(156, 225, 247);
color:rgb(208, 106, 255)
}
header{
background-color: rgb(255, 157, 247);
height: 35px;
margin-left: -20px;
margin-right: -20px;
}
header h3{
padding-left: 15px;
color: darkcyan;
text-align: center;
font-size: 30px;
}